body {
    padding: 0;
    margin: 0
}
#unity-container {
    position: fixed;
    width: 100%;
    height: 100%;
}
#unity-canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1170px;
    height: 100%;
    background: url('Loading.png');
    background-repeat: no-repeat; /* 若顯示範圍尺寸大於背景圖，背景不會重複出現 */
    background-size: 100% 100%; /* 背景圖以拉伸方式完全填滿顯示範圍 */
}
#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}
#unity-logo {
    width: 298px;
    height: 158px;
    background: url('unity-logo-light.png') no-repeat center;
    background-size: 100% 100%;
}
#unity-progress-bar-empty {
    margin-left: auto;
    margin-right: auto;
    width: 301px;
    height: 26px;
    background: url('progress-bar-empty-light.png') no-repeat center;
    background-size: 100% 100%;
}
#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}
#unity-progress-bar-full {
    width: 0%;
    height: 26px;
    margin-top: 20px;
    background: url('progress-bar-full-light.png') no-repeat center;
    background-size: 100% 100%;
}
#video {
    position: absolute;
    top: 58%; /* 向左上方對齊，定位點在正中心的Y座標 / 1977 */
    left: 50%; /* 向左上方對齊，定位點在正中心的X座標 / 1170 */
    transform: translate(-50%, -50%);
    height: 22%; /* 相機畫面尺寸，範圍高度 / 1977 */
    border-radius: 5%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: none;
}
